stages:
  - test
  - lint
  - build
  - coverage

tests:
  stage: test
  image: python:3.12-slim
  before_script:
    - pip install -r requirements.txt
  script:
    - pytest
  tags:
    - SN-runner

  script:
    - pytest --cov=src --cov-report=xml:coverage.xml --cov-report=term
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    paths:
      - coverage.xml
      - .coverage

coverage:
  stage: coverage
  image: python:3.12-slim
  before_script:
    - pip install -r requirements.txt
  tags:
    - SN-runner

  script:
    - coverage report -m
    - coverage html
  artifacts:
    paths:
      - coverage
    expire_in: 30 days
  dependencies:
    - tests

lint:
  stage: lint
  image: python:3.12-slim
  before_script:
    - pip install -r requirements.txt
  script:
    - isort src tests --check
    - black src tests --check
    - flake8 src tests
    - mypy src
  only:
    - merge_requests
  tags:
    - SN-runner

# build-docker-image:
#   stage: build
#   image:
#     name: gcr.io/kaniko-project/executor:v1.14.0-debug
#     entrypoint: [""]
#   tags:
#     - SN-runner

#   script:
#     - /kaniko/executor
#       --context "${CI_PROJECT_DIR}"
#       --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
#       --destination "${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
#   only:
#     - main
#     - merge_requests
